<html>
<head>
<script src="static/js/jquery-1.4.2.min.js"></script>
<script src="static/js/paho-mqtt.js"></script>
<script src="static/js/temp.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
</head>
<body>
<table border="1" cellpadding="2" style="font-size: 100%; font-family:  Arial; border-collapse: collapse; border: 1px solid black;">
<thead>
<tr>
<td>Оборудование</td>
<td>Вход</td>
<td>Выход</td>
</tr>
</thead>
<tbody>
<tr>
<tr><td><div>Нагреватель 1</div></td>
<td><div id="boil1ret"></div></td>
<td><div id="boil1suppl"></div></td>
</tr>
<tr>
<tr><td><div>Нагреватель 2</div></td>
<td><div id="boil2ret"></div></td>
<td><div id="boil2suppl"></div></td>
</tr>
<tr>
<tr><td><div>Потребитель 1-1</div></td>
<td><div id="dry3in1"></div></td>
<td><div id="dry3out1"></div></td>
</tr>
<tr>
<tr><td><div>Потребитель 1-2</div></td>
<td><div id="dry3in2"></div></td>
<td><div id="dry3out2"></div></td>
</tr>
<tr>
<tr><td><div>Потребитель 2-1</div></td>
<td><div id="dry4in1"></div></td>
<td><div id="dry4out1"></div></td>
</tr>
<tr>
<tr><td><div>Потребитель 2-2</div></td>
<td><div id="dry4in2"></div></td>
<td><div id="dry4out2"></div></td>
</tr>
<tr>
<tr><td><div>Потребитель 2-3</div></td>
<td><div id="dry4in3"></div></td>
<td><div id="dry4out3"></div></td>
</tr>
</tbody>
</table>
</body>
